:root {
  --button-color: white;
  --button-background-color: #20BADA;
  --button-background-color-hover: #75DDD9;
}

body {
  background: #F2F2F2 !important;
}

@media screen and (max-width: 1100px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
    /*0*/
  }
}

@media screen and (max-width: 1250px) and (min-width: 1100px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
    /*100*/
  }
  body {
    /*overflow-x: hidden;*/
  }
}

@media screen and (max-width: 1500px) and (min-width: 1250px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
    /*200*/
  }
  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1920px) and (min-width: 1500px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
    /*300*/
  }
  body {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .page-wrapper.toggled .page-content {
    padding-left: 300px;
    /*500*/
  }
  body {
    overflow-x: hidden;
  }
}

.location-elements{
  width: 80% !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
  padding: 0 !important;
}

.location-link{
  cursor: pointer;
  color: #5fd0e8 !important;
}

.old-products{
  line-height: 50px !important;
}

.info-container {
  min-width: 800px;
  margin: 0 !important;
  padding: 0 !important;
}

.card {
  color: #168197;
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  max-width: 95%;
  font-size: 18px;
  font-weight: 600;
}

.card hr{
  height:1px;
  border:none;
  color:#000;
  background-color:#168197;
  width:100%;
  margin: 20px auto;
}

.card-edit {
  text-align: center;
}

.card-edit a {
  color: #168197;
  padding-left: 10px;
  cursor: pointer;
}

.card-edit a:hover {
  color: #168197;
  text-decoration: none;
}

.card-intro {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-pop-up {
  min-height: 100px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-pop-up:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card li {
  list-style-type: none;
  line-height: 40px;
  margin-bottom: 10px;
}

.card ul {
  padding: 0;
}

.card .bullet-img {
  height: 40px;
  width: 40px;
  display: inline-block;
}

.btn-primary {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  border: none !important;
  /*border-radius: var(--border-radius) !important;*/
}

.modal {
  color: #168197;
}

.btn-primary:hover {
  background-color: var(--button-background-color-hover) !important;
}

.btn-correction {
  font-size: 19px !important;
  min-width:145px;
}

.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
