@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

:root {
  --button-color: white;
  --button-background-color: #20BADA;
  --button-background-color-hover: #75DDD9;
}

body {
  /* background: #F2F2F2; */
  padding: 0;
  maring: 0;
}

.product {
  text-align: center;
}

.plan {
  margin-top:10px;
  display: inline-block;
  font-family: 'Lato', Arial, sans-serif;
}

.plan-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 600px;
  max-width: 100%;
  position:relative;
}

.entry-title {
  background: #53CFE9;
  height: 200px;
  position: relative;
  text-align: left;
  margin-bottom: 30px;
}

.product-name-block {
  width: 100%;
  background: #20BADA;
  font-size: 20px;
  padding: 20px 10px;
  /* text-transform: uppercase; */
  font-weight: 700;
  margin: 0 !important;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #20BADA;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 15px;
  text-align:center;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 78px;
  font-size: 28px;
  font-weight: 700;
  padding: 0;
}

.categories {
  color: #fff;
  position: absolute;
  min-width:450px;
  margin-top:20px;
  right: 20px;
  font-size: 16px;
}

.categories select{
  width: 100%;
}

.price span {
  position: absolute;
  font-size: 9px;
  bottom: -10px;
  left: 30px;
  font-weight: 400;
}

.entry-content {
  width:600px;
  color: #323232;
}

.entry-content ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  text-align: right;
}

.line {
  line-height:32px;
  margin: 0px 15px !important;
  max-width:100%;
  padding-left:80px;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .entry-content li:last-child {
  border: none;
} */

.hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}

.basic .entry-title {
  background: #75DDD9;
}

.basic .entry-title > h3 {
  background: #44CBC6;
}

.basic .price {
  background: #44CBC6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.non-selectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.btn-primary {
  color: var(--button-color) !important;
  background-color: var(--button-background-color) !important;
  border: none !important;
  /*border-radius: var(--border-radius) !important;*/
}

.btn-primary:hover {
  background-color: var(--button-background-color-hover) !important;
}

.btn-correction {
  font-size: 19px !important;
  min-width:145px;
}
