.step-indicator-container {
    width: 800px;
    margin: 100px auto;
}

.step-indicator {
    counter-reset: step;
}

.step-indicator li {
    list-style-type: none;
    width: 10%;
    float: left;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
    margin-bottom: 10px;
    cursor: pointer;
}

.step-indicator li:hover {
    color: #75DDD9 !important;
}

.step-indicator li:hover:before {
    border: 2px solid #75DDD9 !important;
}

.step-indicator .stepper:before {
    background-image: none;
    background-size: 47px 47px;
    background-repeat: no-repeat;
    content: counter(step);
    counter-increment: step;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.step-indicator .ready:before {
    content: '';
}

.step-indicator .goods:before {
    background-image: url('../images/football.png');
}

.step-indicator .food:before {
    background-image: url('../images/food.png');
}

.step-indicator li:after {
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #7d7d7d;
    top: 25px;
    left: -50%;
    z-index: -1;
}

.step-indicator li:first-child:after {
    content: none;
}

.step-indicator li.unfinished {
    color: #ff3333;
}

.step-indicator li.unfinished:before {
    border-color: #ff3333;
}

.step-indicator li.unfinished+li:after {
    background-color: #ff3333;
}

.step-indicator li.ready {
    color: #009900;
}

.step-indicator li.ready:before {
    border-color: #009900;
}

.step-indicator li.ready+li:after {
    background-color: #009900;
}

.step-indicator li.active {
    color: #20BADA;
}

.step-indicator li.active:before {
    border-color: #20BADA;
}

.step-indicator li.active+li:after {
    background-color: #20BADA;
}

/* new row */
.step-indicator li:nth-child(10n+1):after {
    background-color: #fff !important;
}
